@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
}

.container {
  gap: 10px;
}

.left-sidebar {
  width: 25vw;
  flex-direction: column;
  gap: 10px;
}

.left-sidebar .home li {
  margin: 15px 0 0 15px;
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
}

.left-sidebar .library {
  position: relative;
  height: 75vh;
}

.left-sidebar .library .header {
  gap: 8px;
}

.left-sidebar .library h2 {
  font-size: 14px;
}

.left-sidebar .footer {
  position: absolute;
  bottom: 10px;
}

.left-sidebar .footer a {
  color: #929292;
  text-decoration: none;
  font-size: 12px;
}

.left-sidebar .footer .links-list {
  margin: 4px 0;
  gap: 4px 10px;
  flex-wrap: wrap;
}

.left-sidebar .footer .links-list span {
  font-size: 11px;
}

.right-main {
  width: 75vw;
}
